* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #6190E8 0%, #A7BFE8 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .role-selection-container, .login-container {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    width: 350px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  .role-selection-form h2, .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .role-selection-form p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
  }
  
  .role-selection-form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #2A6FE1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .role-selection-form button:hover {
    background-color: #255AB3;
  }
  
  .login-form label {
    font-size: 14px;
    color: #333;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .password-container {
    position: relative;
  }
  
  .password-container input {
    padding-right: 40px;
  }
  
  #toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #888;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #2A6FE1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .login-form button:hover {
    background-color: #255AB3;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
  }
  
  .remember-me input {
    margin-right: 10px;
  }
  