<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Role Selection</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="role-selection-container">
      <form class="role-selection-form">
        <h2>Login</h2>
        <p>Masuk Sebagai</p>

        <button type="button" onclick="selectRole('admin')">Admin</button>
        <button type="button" onclick="selectRole('guru')">Guru</button>
        <button type="button" onclick="selectRole('siswa')">Murid</button>
      </form>
    </div>

    <script>
      function selectRole(role) {
        // Redirect ke halaman login berdasarkan role
        window.location.href = `login.html?role=${role}`;
      }
    </script>
  </body>
</html>
