<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="login-container">
      <form class="login-form">
        <h2 id="login-title">Login</h2>

        <label for="nisn" id="username-label">Username</label>
        <input
          type="text"
          id="nisn"
          name="nisn"
          placeholder="Enter Username"
          required
        />

        <label for="password">Password</label>
        <div class="password-container">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter Password"
            required
          />
          <span id="toggle-password" onclick="togglePasswordVisibility()"
            >👁️</span
          >
        </div>

        <button type="submit">Sign in</button>

        <div class="remember-me">
          <input type="checkbox" id="remember" name="remember" />
          <label for="remember">Remember me</label>
        </div>
      </form>
    </div>

    <script>
      function togglePasswordVisibility() {
        const passwordInput = document.getElementById("password");
        const toggleIcon = document.getElementById("toggle-password");
        if (passwordInput.type === "password") {
          passwordInput.type = "text";
          toggleIcon.textContent = "🙈";
        } else {
          passwordInput.type = "password";
          toggleIcon.textContent = "👁️";
        }
      }

      const urlParams = new URLSearchParams(window.location.search);
      const role = urlParams.get("role");
      const loginTitle = document.getElementById("login-title");
      const usernameLabel = document.getElementById("username-label");

      if (role === "admin") {
        loginTitle.textContent = "Login Admin";
        usernameLabel.textContent = "Admin Username";
      } else if (role === "guru") {
        loginTitle.textContent = "Login Guru";
        usernameLabel.textContent = "Guru Username";
      } else if (role === "siswa") {
        loginTitle.textContent = "Login Murid";
        usernameLabel.textContent = "NISN";
      }
    </script>
  </body>
</html>
